<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Getting Started</title>
  </head>
  <body>
    <div class="container">
      <div class="row my-5">
        <div class="col">
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action">
              Home
            </a>
            <a href="/about" class="list-group-item list-group-item-action">
              About
            </a>
            <a href="/gallery" class="list-group-item list-group-item-action">
              Gallery
            </a>
            <a href="/contact" class="list-group-item list-group-item-action">
              Contact Us
            </a>
          </div>
        </div>
        <div class="col">
          <div id="component1"></div>
          <a href="#" class="btn btn-primary my-3" onclick="loadContent('component1', 'CardComponent')">Load Card Component</a>
        </div>
        <div class="col">
          <div id="component2"></div>
          <a href="#" class="btn btn-primary my-3" onclick="loadContent('component2', 'ListItems')">Load List Component</a>
        </div>
      </div>
    </div>
  </body>
</html>